@keyframes fav {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  20% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  30% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  40% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  50% {
    transform: scale(1.25);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  60% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  70% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  80% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  90% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader-container {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -999;
  }
}
@keyframes fadein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fav {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  20% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  30% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  40% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  50% {
    transform: scale(1.25);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  60% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  70% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  80% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  90% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader-container {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -999;
  }
}
@keyframes fadein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
.loader-container {
  background-color: rgba(234, 234, 234, 0.98);
  z-index: 999;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  animation: 150ms linear 3s loader-container;
  animation-fill-mode: forwards;
}

.load {
  width: 16rem;
  height: 13rem;
  display: flex;
  justify-content: space-evenly;
  opacity: 0.8;
}
.load__bar {
  background-color: #9356DC;
  border-radius: 50%;
  height: 100%;
  width: 2rem;
  animation: bars 1000ms backwards infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 166.6666666667ms;
}
.load__bar--1-inv {
  animation-delay: 166.6666666667ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.load__bar--2 {
  animation-delay: 333.3333333333ms;
}
.load__bar--2-inv {
  animation-delay: 333.3333333333ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.load__bar--3 {
  animation-delay: 500ms;
}
.load__bar--3-inv {
  animation-delay: 500ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.load__bar--4 {
  animation-delay: 666.6666666667ms;
}
.load__bar--4-inv {
  animation-delay: 666.6666666667ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}
.load__bar--5 {
  animation-delay: 833.3333333333ms;
}
.load__bar--5-inv {
  animation-delay: 833.3333333333ms;
  animation-direction: alternate-reverse;
  animation-fill-mode: forwards;
  background-color: #FF79DA;
}

@media (min-width: 768px) {
  .load {
    width: 24rem;
    height: 19.5rem;
  }
}
@keyframes fav {
  0% {
    transform: scale(0.8);
  }
  10% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  20% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  30% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  40% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  50% {
    transform: scale(1.25);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  60% {
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  70% {
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  80% {
    transform: scale(1.1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  90% {
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
  100% {
    transform: scale(1);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.3);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes loader-container {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -999;
  }
}
@keyframes fadein {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 15px;
  font-weight: 300;
  gap: 20px;
}

.mainheader__restaurants {
  width: 100%;
  min-width: 375px;
  box-sizing: border-box;
  background-color: white;
  padding: 20px 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.mainheader__restaurants--logo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainheader__restaurants--logo img {
  height: 30px;
}

.backimg {
  box-sizing: border-box;
  max-height: 385px;
  z-index: -1;
}
.backimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked ~ .menu__card--item .menu__card--item--checked--icon {
  transition: transform 350ms ease;
  scale: 1;
  transform: rotate(-360deg);
}

input[type=checkbox]:not(:checked) ~ .menu__card--item .menu__card--item--checked--icon {
  transition: 350ms ease;
  scale: 0;
}

input[type=checkbox]:checked ~ .menu__card--item .menu__card--item--checked, .menu__card--item--checked--icon {
  transition: 350ms ease;
  width: 70px;
}

input[type=checkbox]:not(:checked) ~ .menu__card--item .menu__card--item--checked {
  transition: 350ms ease;
  width: 0;
}

.menu-label {
  height: 70px;
  width: 100%;
  position: absolute;
  z-index: 169;
  cursor: pointer;
}

.menu {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  gap: 40px;
  background-color: #f3f3f3;
  margin-top: -60px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.menu__title {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0 0 40px;
  gap: 30px;
}
.menu__title h1 {
  font-size: 28px;
  font-weight: 300;
  font-family: "Shrikhand", serif;
}
.menu__title--fav {
  height: 26px;
  width: 26px;
}
.menu__title--fav .fav--check[type=checkbox]:not(:checked) ~ .fav--rest .heart {
  display: flex;
}
.menu__title--fav .fav--check[type=checkbox]:not(:checked) ~ .fav--rest .solidheart {
  display: none;
}
.menu__title--fav .fav--check[type=checkbox]:checked ~ .fav--rest .heart {
  display: none;
}
.menu__title--fav .fav--check[type=checkbox]:checked ~ .fav--rest .solidheart {
  display: flex;
}
.menu__title--fav .fav--check {
  display: none;
}
.menu__title--fav .solidheart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  cursor: pointer;
  cursor: pointer;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: fav 450ms;
}
.menu__title--fav .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  cursor: pointer;
}
.menu__subtitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  animation: 400ms ease fadein both;
}
.menu__subtitle--1 {
  animation-delay: 200ms;
}
.menu__subtitle--2 {
  animation-delay: 400ms;
}
.menu__subtitle--3 {
  animation-delay: 600ms;
}
.menu__subtitle h2 {
  font-size: 22px;
  font-weight: 300;
}
.menu__underline--green {
  width: 40px;
  height: 3px;
  background: #99E2D0;
  animation: 400ms ease fadein both;
}
.menu__underline--green--1 {
  animation-delay: 350ms;
}
.menu__underline--green--2 {
  animation-delay: 700ms;
}
.menu__underline--green--3 {
  animation-delay: 1050ms;
}
.menu__card {
  height: 70px;
  width: 350px;
  position: relative;
  overflow: hidden;
  animation: 400ms ease fadeout both;
}
.menu__card--1 {
  animation-delay: 150ms;
}
.menu__card--2 {
  animation-delay: 300ms;
}
.menu__card--3 {
  animation-delay: 450ms;
}
.menu__card--4 {
  animation-delay: 600ms;
}
.menu__card--5 {
  animation-delay: 750ms;
}
.menu__card--6 {
  animation-delay: 900ms;
}
.menu__card--7 {
  animation-delay: 1050ms;
}
.menu__card--8 {
  animation-delay: 1200ms;
}
.menu__card--9 {
  animation-delay: 1350ms;
}
.menu__card--10 {
  animation-delay: 1500ms;
}
.menu__card--item {
  display: flex;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.menu__card--item--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card--item--txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 10px 0 10px 15px;
  gap: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}
.menu__card--item--txt h3, .menu__card--item--txt p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu__card--item--price {
  display: flex;
  position: relative;
  padding: 30px 15px 0 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__card--item--checked {
  width: 0;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__card--item--checked--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  scale: 0;
}
.menu__btn--cmd {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .menu {
    padding-top: 40px;
    max-width: 66em;
    width: 768px;
  }
  .menu__title {
    justify-content: center;
    padding-left: inherit;
  }
  .menu__card {
    width: 42em;
  }
  .section {
    width: 100%;
    box-sizing: border-box;
  }
}
.backimg {
  width: 100%;
}
.backimg img {
  max-height: 385px;
  width: 100%;
  object-fit: cover;
}

* {
  font-family: "Roboto", sans-serif;
}

#search-location {
  border: unset;
  background: none;
  color: black;
  font-size: 16px;
}
#search-location:focus {
  outline: none;
}
#search-location::placeholder {
  opacity: 1;
  color: black;
  font-size: 16px;
  font-weight: 300;
}

.maincontent, .mainheader {
  width: 100%;
  min-width: 375px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

h1, h2, h3 {
  margin: inherit;
}

p {
  margin: inherit;
  font-weight: 300;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #F6F6F6;
  width: 100%;
  overflow-x: hidden;
}

.home__white {
  background-color: white;
}

footer {
  background-color: #353535;
  color: white;
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding-bottom: 60px;
  padding-top: 30px;
  gap: 15px;
}
.home__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding-top: 10px;
  height: 53px;
  width: 100%;
}
.home__logo > img {
  width: 162px;
}
.home__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 75px;
  gap: 17px;
  height: 50px;
  width: 100%;
  background-color: #EAEAEA;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
}
.home__headertitle {
  font-size: 24px;
  text-align: center;
  margin-top: 15px;
  width: 70%;
}
.home__headersubtitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 15px;
  width: 90%;
}
.home__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 218px;
  border-radius: 25px;
  cursor: pointer;
}
.home__btn--purple {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  color: white;
  position: relative;
  z-index: 1;
  cursor: pointer;
}
.home__btn--purple:hover::after {
  opacity: 0.2;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
}
.home__btn--purple::after {
  content: "";
  border-radius: 25px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  opacity: 0;
  z-index: -1;
  transition: opacity 300ms ease;
}
.home__title {
  font-size: 24px;
  padding-top: 40px;
}
.home__steplist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home__step {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 322px;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin-bottom: 10px;
  margin-left: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.home__step--number {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -12px;
  font-size: 14px;
  height: 24px;
  width: 24px;
  color: white;
  background-color: #9356DC;
  border-radius: 50%;
}
.home__step--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7E7E7E;
  height: 30px;
  margin: 0 20px 0 10px;
}
.home__step--icon--purple {
  color: #9356DC;
}
.home__step--text {
  font-weight: bold;
}
.home__groupcards {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 30px 0 45px 0;
  align-items: center;
}
.home__grouprestcard {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.home__restcard {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 251px;
  width: 345px;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 15px;
}
.home__restcard--link {
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.home__restcard img {
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  width: 100%;
  height: 68%;
}
.home__restcard--new {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 29px;
  width: 80px;
  color: #008766;
  background-color: #99E2D0;
  border-radius: 5px;
}
.home__restcard--info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  position: absolute;
  padding: 10px 15px 10px 15px;
  gap: 5px;
  width: 100%;
}
.home__restcard--info--title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}
.home__restcard--fav {
  position: absolute;
  bottom: 40px;
  right: 20px;
  height: 26px;
  width: 26px;
}
.home__restcard--fav .fav--check[type=checkbox]:not(:checked) ~ .fav--rest .heart {
  display: flex;
}
.home__restcard--fav .fav--check[type=checkbox]:not(:checked) ~ .fav--rest .solidheart {
  display: none;
}
.home__restcard--fav .fav--check[type=checkbox]:checked ~ .fav--rest .heart {
  display: none;
}
.home__restcard--fav .fav--check[type=checkbox]:checked ~ .fav--rest .solidheart {
  display: flex;
}
.home__restcard--fav .fav--check {
  display: none;
}
.home__restcard--fav .solidheart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  cursor: pointer;
  position: absolute;
  cursor: pointer;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: fav 450ms;
}
.home__restcard--fav .heart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 26px;
  width: 26px;
  cursor: pointer;
  position: relative;
}
.home__title--footer {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  font-size: 18px;
  padding: 20px 0 20px 0;
}
.home__footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 0 30px 30px;
}
.home__nav {
  display: flex;
  flex-direction: column;
}
.home__nav--group {
  display: flex;
  flex-direction: column;
}
.home__nav--link {
  margin-bottom: 5px;
  font-size: 16px;
  cursor: pointer;
}
.home__nav--icon1 {
  margin-right: 10px;
}
.home__nav--icon2 {
  margin-right: 8px;
}

@media (min-width: 859px) {
  .home__headertitle {
    font-size: 40px;
  }
  .home__location {
    box-shadow: inherit;
  }
  .home__steplist {
    flex-direction: row;
    gap: 15px;
    padding-bottom: 40px;
  }
  .home__restcard {
    width: 400px;
  }
  .home__step {
    width: 260px;
  }
  .home__groupcards {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
  }
  .home__grouprestcard {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
  }
  .home__footer {
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 60px 0 0;
  }
  .home__title--footer {
    padding-left: 80px;
  }
  .home__nav {
    flex-direction: row;
    gap: 40px;
  }
  .home__nav--group {
    flex-direction: row;
    gap: 10px;
  }
}
@media (min-width: 1024px) {
  .home__restcard {
    width: 490px;
  }
  .home__steplist {
    gap: 40px;
  }
  .home__step {
    width: 322px;
  }
  .home__grouprestcard {
    gap: 100px;
  }
}

/*# sourceMappingURL=style.css.map */
