@keyframes fav{ // Cette keyframe gère l'animation du coeur lorsqu'il est sélectionné
  0%{
    transform: scale(0.8);
  }
  10%{
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  20%{
    transform: scale(1.10);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  30%{
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  40%{
    transform: scale(1.2);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  50%{
    transform: scale(1.25);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  60%{
    transform: scale(1.20);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  70%{
    transform: scale(1.15);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  80%{
    transform: scale(1.10);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  90%{
    transform: scale(1.05);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
  100%{
    transform: scale(1);
    animation-timing-function: cubic-bezier(.42,0,.58,1);
  }
}
@keyframes bars { //Cette keyframe gère l'animation des barres de chargement du loader
  0% {
    transform: scaleY(0.3);

  }
  100% {
    transform: scaleY(1.0);
  }
}
@keyframes loader-container { //Cette keyframe s'occupe de faire disparaitre le loader et de rendre accessible toutes les fonction du site
  from {
    opacity: 100%;
  }
  to {
    opacity: 0;
    display: none;
    z-index: -999; //On met le z-index à -999 pour que le loader ne soit plus au dessus de tout et empêche l'utilisation du site car il est en position fixed
  }
}
@keyframes fadein { //Cette keyframe gère l'animation d'apparition des éléments de menu dans les pages restaurant
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes fadeout { //Cette keyframe gère l'animation d'apparition des éléments de menu dans les pages restaurant
  from {
    transform: translateX(100%);
    opacity:0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}