$purple: #9356DC;
$pink: #FF79DA;
$green: #99E2D0;
$darkgreen: #008766;
$grey:#EAEAEA;
$lightgrey: #F6F6F6;
$darkgrey: #7E7E7E;
$greyblack: #353535;
$purple-btn: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
$regtext: 16px;
$subtext: 17px;
$subtitle: 18px;
$title: 26px;
$bigtitle: 30px;